@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400&display=swap');


$primary: #2f4f4f; // Verde pino (rústico, natural)
$complement: #ffd700; // Amarillo mostaza (calidez, contraste)
$secondary: #a0522d; // Marrón cuero (robusto, terroso)

$theme-colors: (
    "primary": $primary,
    "complement": $complement,
    "secondary": $secondary
);


$navbar-dark-color: rgba(#f5f5f5, .9);
$navbar-toggler-padding-x: 0;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-toggler-font-size: 1.8rem;


@import "../bootstrap/scss/bootstrap";



body {
    background-color: #f5f5f5;
    color: $secondary;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

img {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


// Estilo para los títulos (fuente Playfair Display)
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: $secondary; // Marrón cuero
}

// Estilo para el cuerpo de texto (fuente Roboto)

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $primary; // Verde pino
}

// Estilo para detalles vintage (fuente Oswald)
h4,
.vintage {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: $complement; // Amarillo mostaza
}


.button {
    background-color: $secondary; // Marrón cuero para el botón principal
    color: white; // Texto blanco

    &:hover {
        background-color: $complement; // Amarillo mostaza para hover
    }
}

.button-secondary {
    background-color: $primary; // Verde pino para el botón secundario
    color: white;
}


// Navbar



.navbar {
    background-color: #2f4f4f;
    /* Verde pino */
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    /* Fuente clásica */
    font-weight: 700;
    color: #ffd700;
    /* Amarillo mostaza */
}

.navbar-brand:hover {
    color: #a0522d;
    /* Marrón cuero */
}

.navbar-toggler {
    box-shadow: none !important;
    border: none;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
    /* Blanco */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffd700;
    /* Amarillo mostaza en hover */
}


// End Navbar


// Hero

.hero {

    .hero-image {
        height: 700px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
            url(./../img/hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

// End hero





// About



// End about



// Services

.services {

    .card {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }

}

// End Services



// Gallery


.gallery {
    .grid {
        display: grid;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        .item {
            overflow: hidden;
            height: 100%;


            img {
                width: 100%;
                // min-width: 100%;
                height: 300px;
                min-height: 100%;
                object-fit: cover;

            }

            @include media-breakpoint-up(md) {
                &:nth-child(1) {
                    grid-column: 1 / 3;
                }

                &:nth-child(5) {
                    grid-column: 3 / 4;
                    grid-row: 2 / 4;
                }

                &:nth-child(6) {
                    grid-column: 1 / 2;
                    grid-row: 3 / 5;
                }

                &:nth-child(8) {
                    grid-column: 2 / 4;
                    // grid-row: 3 / 5;
                }
            }
        }
    }
}


// End Gallery


.appointment {

    .background-content {
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
            url('../img/delivery.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .appointment-contact {

        // filter: blur(3.5px);
        .grid {
            display: grid;
            grid-template-columns: auto 5fr;

            .item {

                i {
                    font-size: 1.5rem;
                    margin-right: 1rem;
                    // color: $white
                }

                p {
                    margin: 0;
                    font-size: 1.2rem;
                }

                &:nth-child(1) {
                    grid-row: 1 / 3;
                }
            }
        }
    }
}






// Contact

#contact {
    background-color: #f5f5f5;
    /* Fondo claro */
}

.contact-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    // border: 2px solid #2f4f4f;
    /* Verde pino */
}

.map-container iframe {
    min-height: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}



// End Contact


.btn-floating {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
}


/* Estilos base para botones flotantes */
#btn-whatsup {

    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    background-color: #25D366;
    color: white;

    &:hover {
        background-color: #1ebf5d;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    }
}


/* Estilo específico del botón 'Ir Arriba' */
#btn-up {
    display: none;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    background-color: transparent;
    text-align: center;
    line-height: 65px;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: $secondary;

    &:hover {
        color: lighten($secondary, 10%);

    }

}



.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #333;
    font-size: 32px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.social-link:hover {
    background-color: $primary;
    color: white;
    // transform: scale(1.1);
}